workspace-backup/
Data
__pycache__/
Downloads/
logs/
workspace/
Weights/
-Results/
results/
garbage/
models/
models
!AlphaPose/alphapose/models
*.egg-info/
build/
*.so
*.npy
*.mp4
upload
*.tar.gz
Weights
Weights-old
checkpoints
